<form method="POST">
  <div class="form-group">
    <label for="meal">Meal</label>
    <input name="meal" type="text" class="form-control" placeholder="Enter meal...">
  </div>

  <button for="meal" type="submit" class="btn btn-primary">Submit</button>
</form>